<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>三栏布局</title>
	<style>
	.right{
		width: 200px;
		height: 500px;
		background-color: green;
		float:right;
	}
    .left{
		width: 200px;
		height: 500px;
		background-color: green;
		float:left;
	}
	.main{
		margin-left: 200px;
		margin-right: 200px;
		background: #888823;
		height: 500px;
	}
	</style>
</head>
<body>
<div style="color:#fff;">
<div class="left">左固定</div>
<div class="right">右固定</div>
<div class="main">自适应</div>
</div>

</body>
</html>